extends layout

include components/_reviewForm
include components/_review

block content
    .container
        .single
            .single-cafe
                span(class="single-cafe-header" style=`background-image: url(../uploads/${cafe.photo});`)

                .single-cafe-name
                    h2.display-4 #{cafe.name}

                .single-cafe-summary
                    i(class="fa fa-map-marker")  #{cafe.location}
                .single-cafe-summary
                    i(class="fa fa-star")  Hinnang

                if user && cafe.creator.equals(user._id)
                    .single-cafe-summary
                        a(href=`/cafe/${cafe._id}/edit`)
                            i(class="fa fa-pencil")  Muuda kohviku andmeid

                .single-cafe-summary
                    p #{cafe.description}

                if user && !cafe.creator.equals(user._id)
                    +reviewForm(cafe)
                    
                if cafe.reviews
                    each r in cafe.reviews
                        +review(r)