extends layout

block content
    .container.inner
        h1.main-heading #{cafes.length} parimat kohvikut
        table.table.table-hover
            thead
                tr  
                    th #
                    th Kohviku nimi
                    th Asukoht
                    th Keskmine hinnang
            tbody
                each cafe, i in cafes
                    tr
                        td #{i + 1}
                        td #{cafe.name}
                        td #{cafe.location}
                        td #{cafe.averageRating.toFixed(2)} / 5